
.inputboxerx{
    display: flex;
    flex-direction: column;;
    margin-left: 13%;
    margin-top: 15px;
    width: 93%;
}

.modalInputsx{
    margin-top: 10px;
    border-radius: 10px;
    width: 70%;
    height: 10px;

}

.selectboxx{
    margin-left: 12%;
}
.modalInputs2x{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 60%;
    height: 15px;
    margin-left: 5%;
    text-align: center;
    body {
        overflow-y: hidden;
    }
    
} 

#modalButtox {
    width: 140px;
    height: 30px;
    margin-left: 25%;
    margin-bottom: 20px;
    margin-top: 15px;
}

#projnamex {
    height: 20px;
    margin-left: -20px;
    width: 60%;
}

#locatex{
    margin-top: 4%;
    margin-left: -9%;
    margin-right: 2%;
}

#prcx{
    margin-top: 3%;
    margin-right: 24%;
    margin-left: -9%;
}

#typx{
    margin-top: 3%;
    margin-right: 25%;
    margin-left: -9%;
}

#nmep{
    margin-top: 3%;
    margin-right: 22%;
    margin-left: -9%;
}

