
body {
    background-color: rgb(255, 255, 255);
}

//Header -------------------------------------------

.topdiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.title{
    width: 400px;
    margin-left: 5px;
    font-size: 25px;
    color: rgb(237, 237, 237); 
}

.secdiv{
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}

.projectDiv {
   font-size: 25px;
   width: 1500px;
 
}

//Table --------------------------------------------

.MuiTableCell-head {
    background-color: #102E4A;
    color: #D8DBE2; 
   
}

.MuiTableCell-body {
    background-color: rgb(238, 237, 237); 
    height: -10px;
}

.MuiTableContainer-root {
    margin-top: -50px; 
}

//Search Area -------------------------------------------

.buttondiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 100px;
}

#searchbox {
    width: 100%;
    display: flex;
    flex-direction: row;
  
}

.searchproj{
    width: 100%;
    display: flex;
    flex-direction: row;
  
    margin-left: 5%;
}

.addproj{
    margin-left: -100px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
    width: 100%
}

.searchInput{
    border-radius: 10px;
    height: 30px;
    width: 250px;
    margin-right: 2%
}

.searchInput1{
    border-radius: 10px;
    height: 30px;
    width: 250px;
    margin-right: 20%
}

.creatProjectButton {
    height: 30px;
    margin-right: 60px;
    width: 100px;
}

.searchButton{
    height: 30px;
    width: 100px;
    margin-right: 20px;
    
}

.flexDiv{
    display: flex;
    flex-direction: row;
}

.creatCategoryButton{
    margin-top: 25px;
    margin-left: 60%;
    height: 33px;
}

.addcat{
    display: flex;
    justify-self: flex-end;
}

.creatLocaleButton{
    display: flex;
    justify-self: flex-end;
}

.addloc{
    display: flex;
    justify-content: flex-end;
    width: 95%;

}