
.majorbox{
    display: flex;
    flex-direction: row;
}

.leftbox{
    margin-left: -15px;
    width: 455;
}

.rightbox{
    margin-left: 25px;
    width: 45%;
}
.inputbox{
    display: flex;
    flex-direction: column;;
    margin-left: 25.5%;
    margin-top: 20px;
}

.modalInputs{
    margin-top: 10px;
    border-radius: 10px;
    width: 80%;
    margin-left: -15%;
}

#newt{
    margin-left: 37%;
}
.namebox{
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    margin-left: 22%;
}

#taskname{
    width: 60px;
    height: 30px;
    padding-top: 12px;
    margin-right: 25px;
}

.tasknamedd{
    margin-top: 10px;
    width: 150px;
    margin-left: 0%;
    border-radius: 10px;
    height: 30px;
    text-align: center;
    body {
        overflow-y: hidden;
    }   
} 

.typebox{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    margin-left: 22%;
}

#tasktype{
    width: 60px;
    height: 30px;
    padding-top: 12px;
    margin-right: 25px;
}

.tasktypedd{
    margin-top: 10px;
    width: 150px;
    margin-left: 0%;
    border-radius: 10px;
    height: 30px;
    text-align: center;
    body {
        overflow-y: hidden;
    }   
} 

.parentbox{
    margin-top: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    margin-left: 22%;
}

#taskparent{
    width: 60px;
    height: 30px;
    padding-top: 12px;
    margin-right: 25px;
}

.taskparentdd{
    margin-top: 10px;
    width: 150px;
    margin-left: 0%;
    border-radius: 10px;
    height: 30px;
    text-align: center;
    body {
        overflow-y: hidden;
    }   
} 

.seqbox{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    margin-left: 22%;
}

#taskseq{
    width: 90px;
    height: 30px;
    padding-top: 12px;
    margin-right: -5px;
}

.taskseqtxt{
    margin-top: 10px;
    width: 60px;
    margin-left: 0%;
    border-radius: 10px;
    height: 30px;
    text-align: center;
    body {
        overflow-y: hidden;
    }   
} 

.startbox{
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    margin-left: 22%;
}

#taskstart{
    width: 120px;
    height: 30px;
    padding-top: 12px;
}

.taskstartdt{
    margin-top: 10px;
    width: 180px;
    margin-left: 0%;
    border-radius: 10px;
    height: 30px;
    text-align: center;
    body {
        overflow-y: hidden;
    }   
} 

.endbox{
    margin-top: 5px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    margin-left: 22%;
}

#taskend{
    width: 120px;
    height: 30px;
    padding-top: 12px;
}

.taskenddt{
    margin-top: 10px;
    width: 180px;
    margin-left: 0%;
    border-radius: 10px;
    height: 30px;
    text-align: center;
    body {
        overflow-y: hidden;
    }   
} 

.dependencybox{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 22%;
}

#taskdependency{
    width: 90px;
    height: 30px;
    padding-top: 12px;
    margin-left: 10px;
}

.taskdependencyms{
    margin-top: 10px;
    width: 150px;
    margin-left: 0%;
    border-radius: 10px;
    height: 145px;
    text-align: center;
    body {
        overflow-y: hidden;
    }   
} 

#modalButto {
    width: 140px;
    height: 30px;
    margin-left: 26%;
    margin-bottom: 20px;
}

#projname {
    margin-left: -20px;
}

#selectList{
    margin-left: -1%;
}

#selectLab{
    margin-left: -2%;  
}