
#teamList3{
    background-color: #3B747D;
    border-radius: 15px 0 0 15px ;
    list-style-type: none;
    width: 100%;
    padding: 10px;
    padding-right: -10px;
    resize: vertical;
    margin-top: 0px;
}

.resizer {
    border: 1px solid black;
    overflow: auto;
    
}
.resizer.vertial {
    resize: vertical;
}

#teamHead{
    color: #2B2D42;
    padding: 10px;
    padding-left: -10;
    
}

#teamBox3 {
    width: 100%;
}


#teamBox2{
    display: flex;
    flex-direction: row;
    margin-top: -5;
    width: 100%;
}

#listItems3 {
    display: flex;
    flex-direction: row;
    color: white;
    min-width: 50px;
    width: auto;
    text-align: center;
    overflow: hidden;
    justify-content: center;
}

#listItems2 {
    display: flex;
    flex-direction: row;
    color: white;
    padding: 10px;
    padding-left: -10;
    min-width: 50px;
    width: auto;
    margin: 3px;
    padding-top: 0;
    padding-bottom: 0;
    text-align: right;
    overflow: hidden;
    background-color: #3B747D;
    // justify-content: right;
}

#teamTg{
    color: white !important;
    margin-top: -5px;
}

.teamL2{
    margin-bottom: -5;
    margin-left: 10px;
    width: 100%;
}

#plusbutton{
    height: 30px;
    width: 30px;
    margin-left: 23px;
    padding: 1px;
    background-color: rgb(175, 205, 117);;
}

.listHeader2{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: -20px;
    background-color: #F3F4F6;
    width: 100%;
}

.totbox{
    display: flex;
    flex-direction: row;
    // justify-content: right;
    // text-align: right;
}

#inpt{
    background-color: #F3F4F6;
    border: 5px transparent;
    color: #3B747D;
    font-size: 15px; 
    margin: 0px;
    height: 50px;
    padding-left: 10px;

    
    
    
}