
body {
    background-color: rgb(255, 255, 255);
}

.box1 {
    width: 100%;
    margin: auto;
}

.box2 {
    width: 100%;
    margin: auto;
}

.boxA {
    // width: 100%;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin: auto;
}

.boxB {
    // width: 100%;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin: auto;
}

.regButton {
    width: 180px;
    height: 40px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color:#2B2D42;
    border-radius: 10px;
    font-weight: bolder;
    color: #FFFFF2;
    border-color:  #66758F;
    border: transparent;
    
}

.inpt {
    width: 250px;
    height: 30px;
    margin: auto;
    margin-top: 10px;
    background-color:#FFFFF2;
    border-radius: 10px;
    text-align: center;

}

::-webkit-input-placeholder {
    text-align: center;
}

.maindiv {
    display: flex;
    flex-direction: column;
}

.subHead {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #292929;
    text-align: center;
   
}

.head {
    margin: auto;
    margin-top: 200px;
    margin-bottom: 40px;
    color: #292929;
    font-size: 45px;
}

.error {
    font-size: 20px;
    color: maroon;
    background-color: pink;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 80%;
    margin: auto;
    text-align: center;
}


.login-box {
    width: auto;
    margin:auto;
    text-align: center;
    
}

.btn2 {
    background-color: #292929;
    border-color: #373F51;
    color: #373F51;
    border-radius: 10px;
    font-weight: bolder;
    width: 80px;
    margin-right: 10px;
}

.bottom-box {
    align-self: center;
    height: 30px;

}

.adminBtn{
    width: 70px;
    height: 30px;
    border-radius: 10px;
    background-color: maroon;
    color: lightgray;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 90%;
    margin-right: 20px;
    cursor: pointer;
}

.btn4 {
    background-color: maroon;
    border-color: maroon;
    color: lightgray;
    border-radius: 10px;
    font-weight: bolder;
    width: 80px;
    margin-right: 10px;
}

.btn5 {
    background-color: lightgrey;
    border-color: lightgray;
    color: grey;
    border-radius: 10px;
    font-weight: bolder;
    width: 80px;
    margin-right: 10px;
}