.master {
    display: flex;
    flex-direction: row;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
    z-index: 1;
}

.gutter.gutter-horizontal {
    background-image: url('icons8-menu-vertical-24.png');
    cursor: col-resize;
}

.gutter.gutter-vertical {
    background-image: url('icons8-menu-vertical-24.png');
    cursor: row-resize;
}

.addtask {
    height: 40px;
}

.creatTaskButton {
    height: 30px;
    width: 90px;
    padding-right: 20px;
}